---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import ChallengeDetail from "@components/ChallengeDetail.astro";
import ChallengeDetailButtons from "@components/ChallengeDetailButtons.astro";
import ChallengeDetailHeader from "@components/ChallengeDetailHeader.astro";
import ChallengeDetailButtonParticipate from "@components/ChallengeDetailButtonParticipate.astro";

export async function getStaticPaths() {
  const englishChallenges = await getCollection(
    "active-challenges",
    ({ id, data }) => {
      return id.startsWith("en/") && data.showOnHomePage === true;
    }
  );
  return englishChallenges.map((challenge) => ({
    params: { slug: challenge.slug },
    props: { challenge },
  }));
}

const { challenge } = Astro.props;
---

<Layout
  title={`${challenge.data.title} - Swetro`}
  description={challenge.data.description}
  image={challenge.data.image}
>
  <main class="bg-black">
    <ChallengeDetailHeader challenge={challenge} />
    <ChallengeDetailButtons IsDetails={true} challenge={challenge} />
    <ChallengeDetail challenge={challenge} />
    <ChallengeDetailButtonParticipate challenge={challenge} />
  </main>
</Layout>
