---
import { Image, getImage } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import ChallengeCard from "../components/ChallengeCard.astro";

import users from "../assets/images/section-2-users.png";
import usersLeft from "../assets/images/section-2-users-left.png";
import usersRight from "../assets/images/section-2-users-right.png";
import watch from "../assets/images/section-3-watch.png";
import check from "../assets/images/section-4-check.svg";
import money from "../assets/images/section-5-money.svg";
import phone from "../assets/images/section-5-phone-desktop.png";
import garmin from "../assets/images/logo-garmin.svg";
import suunto from "../assets/images/logo-suunto.svg";
import section8Background from "../assets/images/section-8-background.png";
import email from "../assets/images/section-8-email.svg";
---

<Layout title="Welcome to Astro.">
  <main>
    <section
      class="flex items-center h-[35.6875rem] px-4 md:px-14 bg-cobalt_blue_600 bg-[url(/images/section-1-background.webp)] min-[640px]:bg-[url(/images/section-1-background-desktop.webp)] bg-right min-[640px]:bg-center"
    >
      <div class="w-[16.5625rem] min-[560px]:w-[27.8125rem] lg:w-[44.125rem]">
        <h1
          class="text-[2.5rem] lg:text-[4rem] leading-[3rem] lg:leading-[5rem] font-bold text-white"
        >
          Virtual race platform and fantasy league
        </h1>
        <h2
          class="mt-2 text-[1.5rem] leading-[1.75rem] min-[560px]:leading-[2rem] font-normal text-white italic"
        >
          <span
            class="font-medium min-[560px]:font-normal text-glory_green_400 block min-[560px]:inline"
            >for real-life</span
          >
           physical activities.
        </h2>
        <div class="mt-[3.4375rem]">
          <a
            href="/"
            class="px-7 py-2.5 text-base font-semibold rounded-md bg-glory_green_400 text-gray-800"
          >
            Register now</a
          >
        </div>
      </div>
    </section>
    <section
      class="flex flex-col md:flex-row items-center md:justify-center h-[42.8125rem] md:h-[19.125rem] px-4 md:px-14 bg-black text-white"
    >
      <Image
        src={usersLeft}
        alt="Swetro users"
        class="hidden min-[1200px]:block"
      />
      <Image
        src={users}
        alt="Swetro users"
        class="md:hidden mt-16 mb-20 min-[440px]:w-[25.4375rem]"
      />
      <div class="text-center min-[1190px]:mx-20">
        <p
          class="text-2xl md:text-[1.5rem] leading-[1.875rem] md:leading-[1.75rem]"
        >
          Competition is not about <span class="text-glory_green_400 italic">
            winning or losing.</span
          >
        </p>
        <p
          class="text-[2rem] md:text-[2.5rem] leading-[2.5rem] md:leading-[3rem] font-medium mt-4"
        >
          It's about pushing ourselves <span class="block font-bold"
            >to be the best we can be.</span
          >
        </p>
      </div>
      <Image
        src={usersRight}
        alt="Swetro users"
        class="hidden min-[1200px]:block"
      />
    </section>
    <section
      class="flex flex-col md:flex-row items-center md:justify-center h-[37.0625rem] md:h-[19.125rem] px-4 md:px-14 md:mt-2 bg-white"
    >
      <div class="relative top-[-24px] md:top-[-12px] block m-0 p-0">
        <Image src={watch} alt="Fitness device" />
      </div>
      <div class="md:ml-10 text-center md:text-left">
        <h2
          class="text-[2rem] md:text-[2.5rem] leading-[2.5rem] md:leading-[3rem] font-bold"
        >
          Sync your device <span
            class="block font-medium md:font-normal italic"
          >
            and go!</span
          >
        </h2>
        <div class="mt-[2.8125rem]">
          <a
            href="/"
            class="px-7 py-2.5 text-base font-semibold rounded-md bg-cobalt_blue_600 text-white"
          >
            Register now</a
          >
        </div>
      </div>
    </section>
    <section
      class="flex flex-col items-center justify-center px-4 py-20 md:px-14 bg-cobalt_blue_100"
    >
      <h3
        class="text-[2rem] md:text-[2.5rem] leading-[3rem] font-normal text-center"
      >
        Connect to <span class="font-bold">Swetro</span>
        <span class="block text-[1.5rem] leading-[3rem] font-normal md:mt-2">
          in 3 simple steps</span
        >
      </h3>
      <div class="flex flex-row flex-wrap items-center justify-center mt-8">
        <article
          class="w-[18.75rem] min-[360px]:w-[21.375rem] md:w-[22.5rem] h-40 m-2 p-7 rounded-xl shadow-md bg-white"
        >
          <div class="flex items-center">
            <Image src={check} alt="Step 1" />
            <h4 class="ml-2.5 text-2xl font-medium">Step 1</h4>
          </div>
          <p class="mt-2.5 text-sm leading-6 font-normal text-shadow_gray_500">
            Create your Swetro profile and sync your fitness tracker.
          </p>
        </article>

        <article
          class="w-[18.75rem] min-[360px]:w-[21.375rem] md:w-[22.5rem] h-40 m-2 p-7 rounded-xl shadow-md bg-white"
        >
          <div class="flex items-center">
            <Image src={check} alt="Check" />
            <h4 class="ml-2.5 text-2xl font-medium">Step 2</h4>
          </div>
          <p class="mt-2.5 text-sm leading-6 font-normal text-shadow_gray_500">
            Join a challenge, commit to a goal, and start working out.
          </p>
        </article>

        <article
          class="w-[18.75rem] min-[360px]:w-[21.375rem] md:w-[22.5rem] h-40 m-2 p-7 rounded-xl shadow-md bg-white"
        >
          <div class="flex items-center">
            <Image src={check} alt="Check" />
            <h4 class="ml-2.5 text-2xl font-medium">Step 3</h4>
          </div>
          <p class="mt-2.5 text-sm leading-6 font-normal text-shadow_gray_500">
            Earn cash rewards by completing the challenge.
          </p>
        </article>
      </div>
      <div class="mt-[2.8125rem]">
        <a
          href="/"
          class="px-7 py-2.5 text-base font-semibold rounded-md bg-cobalt_blue_600 text-white"
        >
          Register now</a
        >
      </div>
    </section>
    <section
      class="flex flex-row items-center justify-center h-[19rem] px-4 md:px-14 bg-cobalt_blue_600 bg-[url(/images/section-5-background-desktop.webp)]"
    >
      <div class="flex flex-row flex-wrap justify-center">
        <Image src={money} alt="Reward" />
        <h4 class="text-[2.5rem] leading-[3rem] font-normal text-white">
          Get rewarded <span class="block font-bold italic"
            >for getting fit</span
          >
        </h4>
      </div>
      <div class="hidden min-[858px]:block relative top-[-36px]">
        <Image src={phone} alt="Swetro app" class="w-[22.9375rem]" />
      </div>
    </section>
    <section
      class="flex flex-col items-center justify-center px-4 py-20 md:px-14 bg-cobalt_blue_100"
    >
      <h3
        class="text-[2rem] md:text-[2.5rem] leading-[3rem] font-normal text-center"
      >
        Compatible devices
      </h3>
      <div class="mt-8">
        <div
          class="flex flex-wrap items-baseline justify-center w-[18.75rem] min-[360px]:w-[21.375rem] md:w-[29rem] m-2 p-0 bg-white rounded-xl shadow-md"
        >
          <div class="w-[10.625rem] h-[1.375] m-8">
            <Image src={garmin} alt="Garmin logo" />
          </div>
          <div class="w-[9.375rem] h-[1.375] m-8">
            <Image src={suunto} alt="Suunto logo" />
          </div>
        </div>
      </div>
      <div class="mt-[2.8125rem]">
        <a
          href="/"
          class="px-7 py-2.5 text-base font-semibold rounded-md bg-cobalt_blue_600 text-white"
        >
          Register now</a
        >
      </div>
    </section>
    <section
      class="flex flex-col items-center justify-center px-4 py-20 md:px-14 text-white bg-black"
    >
      <h3
        class="text-[2rem] md:text-[2.5rem] leading-[3rem] font-normal text-center"
      >
        Get motivated and start <span class="inline md:block"
          >achieving your <span class="font-bold italic">fitness goals</span
          ></span
        >
      </h3>
      <h4 class="mt-7 text-2xl leading-[3rem] font-normal">
        Available activities:
      </h4>
      <div class="flex flex-row flex-wrap items-center justify-center mt-8">
        <ChallengeCard />
        <ChallengeCard />
        <ChallengeCard />
        <ChallengeCard />
      </div>
      <h4>Races & Challenges</h4>

      <!-- <section
      class="flex flex-col items-center justify-center h-[27.5625rem] px-14 bg-black"
      style={`background-image: url(${optimizedSection8Background.src});`}
    >
      <div class="text-center">
        <h3 class="text-[40px] leading-[3rem] text-white">Contact us</h3>
      </div>
      <div class="mt-8">
        <div
          class="flex items-center justify-center w-[32rem] h-24 m-2 p-0 bg-white rounded-xl shadow-md text-base"
        >
          <Image src={email} alt="Email" />
          <span class="ml-2">
            Get support by email: <span class="font-medium"
              >hello@swetro.com</span
            >
          </span>
        </div>
      </div>
    </section> -->
    </section>
  </main>
</Layout>
