---
import openGraphImageDefault from "@assets/images/open-graph-image.png";

interface Props {
  pageTitle: string;
  seoTitle: string;
  seoDescription: string;
  image: string;
}

const { pageTitle, seoTitle, seoDescription, image } = Astro.props;
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);

let openGraphImage = "";
switch (image) {
  case "open-graph-image-cycling-challenges":
    openGraphImage = openGraphImageDefault.src;
    break;
  case "open-graph-image-running-challenges":
    openGraphImage = openGraphImageDefault.src;
    break;
  default:
    openGraphImage = openGraphImageDefault.src;
    break;
}
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-W2XL2P3");
  </script>
  <!-- End Google Tag Manager -->

  <!-- Primary Meta Tags -->
  <title>{pageTitle}</title>
  <meta name="title" content={seoTitle} />
  <meta name="description" content={seoTitle} />
  <link rel="canonical" href={canonicalUrl} />

  <!-- Open Graph / Facebook -->
  <meta property="og:locale" content="es_ES" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content={canonicalUrl} />
  <meta property="og:title" content={seoTitle} />
  <meta property="og:description" content={seoDescription} />
  <meta property="og:image" content={openGraphImage} />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={seoTitle} />
  <meta name="twitter:description" content={seoDescription} />
  <meta name="twitter:image" content={openGraphImage} />
  <meta name="twitter:image:alt" content={seoTitle} />
  <meta name="twitter:site" content="swetro.com" />
  <meta name="twitter:creator" content="@swetro_com" />

  <link rel="sitemap" href="/sitemap-index.xml" />
</head>
