---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import ChallengeDetail from "@components/ChallengeDetail.astro";
import ChallengeDetailButtons from "@components/ChallengeDetailButtons.astro";
import ChallengeDetailHeader from "@components/ChallengeDetailHeader.astro";
import ChallengeDetailButtonParticipate from "@components/ChallengeDetailButtonParticipate.astro";
import { getLangFromUrl, useTranslatedPath } from "src/i18n/utils";

export async function getStaticPaths() {
  const challenges = await getCollection("challenges");
  return challenges.map((challenge) => ({
    params: { slug: challenge.slug },
    props: challenge,
  }));
}

const challenge = Astro.props;
---

<Layout title={`${challenge.data.title} - Swetro`}>
  <main>
    <ChallengeDetailHeader challenge={challenge} />
    <ChallengeDetailButtons IsDetails={true} challenge={challenge} />
    <ChallengeDetail challenge={challenge} />
    <ChallengeDetailButtonParticipate />
  </main>
</Layout>
