---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import ChallengeCard from "@components/ChallengeCard.astro";
import { getLangFromUrl, useTranslatedPath } from "src/i18n/utils";

import users from "@assets/images/section-2-users.png";
import usersLeft from "@assets/images/section-2-users-left.png";
import usersRight from "@assets/images/section-2-users-right.png";
import watch from "@assets/images/section-3-watch2.png";
import check from "@assets/images/section-4-check.svg";
import money from "@assets/images/section-5-money.svg";
import phone from "@assets/images/section-5-phone-desktop.png";
import garmin from "@assets/images/logo-garmin.svg";
import suunto from "@assets/images/logo-suunto.svg";
import email from "@assets/images/section-8-email.svg";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const spanishChallenges = await getCollection(
  "active-challenges",
  ({ id, data }) => {
    return id.startsWith("es/") && data.showOnHomePage === true;
  }
);
---

<Layout
  pageTitle="Swetro: Únete a carreras virtuales de running y ciclismo para ganar recompensas"
  seoTitle="Swetro: Únete a carreras virtuales de running y ciclismo para ganar recompensas"
  seoDescription="Únete a las carreras y retos virtuales de Swetro. Gana recompensas por tu actividad física."
  image=""
>
  <main>
    <section
      class="flex items-center h-[35.6875rem] px-4 md:px-14 bg-cobalt_blue_600 bg-[url(/images/section-1-background.webp)] min-[640px]:bg-[url(/images/section-1-background-desktop.webp)] bg-right min-[640px]:bg-center"
    >
      <div class="w-[16.5625rem] min-[480px]:w-[27.8125rem] lg:w-[44.125rem]">
        <h1
          class="text-[2.5rem] lg:text-[4rem] leading-[3rem] lg:leading-[5rem] font-bold text-white"
        >
          Carreras virtuales <span class="block min-[500px]:inline"
            >y fantasy league</span
          >
        </h1>
        <h2
          class="mt-2 text-[1.5rem] leading-[1.75rem] min-[480px]:leading-[2rem] font-normal text-white italic"
        >
          para actividades físicas
          <span class="font-medium min-[480px]:font-normal text-glory_green_400"
            >reales</span
          >
        </h2>
        <div class="mt-[3.4375rem]">
          <a
            href="https://app.swetro.com/account/register"
            class="px-7 py-2.5 text-base font-semibold rounded-md bg-glory_green_400 text-gray-800"
            id="btn-cta-sign-up-home-section-1"
          >
            Únete ahora</a
          >
        </div>
      </div>
    </section>
    <section
      class="flex flex-col md:flex-row items-center md:justify-center h-[42.8125rem] md:h-[19.125rem] px-4 md:px-14 bg-black text-white"
    >
      <Image
        src={usersLeft}
        alt="Swetro users"
        class="hidden min-[1200px]:block"
      />
      <Image
        src={users}
        alt="Swetro users"
        class="md:hidden mt-16 mb-20 min-[440px]:w-[25.4375rem]"
      />
      <div class="text-center min-[1190px]:mx-20">
        <p
          class="text-2xl md:text-[1.5rem] leading-[1.875rem] md:leading-[1.75rem]"
        >
          Competir no se trata de <span class="text-glory_green_400 italic">
            ganar o perder.</span
          >
        </p>
        <p
          class="text-[1.5rem] md:text-[2rem] leading-[2rem] md:leading-[2.5rem] font-medium mt-4"
        >
          Se trata de impulsarnos a
          <span class="block font-bold"
            >ser la mejor versión de nosotros mismos.</span
          >
        </p>
      </div>
      <Image
        src={usersRight}
        alt="Swetro users"
        class="hidden min-[1200px]:block"
      />
    </section>
    <section
      class="flex flex-col md:flex-row items-center md:justify-center h-[37.0625rem] min-[360px]:h-[38.9375rem] md:h-[19.125rem] px-4 md:px-14 md:mt-2 bg-white"
    >
      <div class="relative top-[-24px] md:top-[-12px] block m-0 p-0">
        <Image src={watch} alt="Fitness device" />
      </div>
      <div class="md:ml-10 text-center md:text-left">
        <h2
          class="text-[2rem] md:text-[2.5rem] leading-[2.5rem] md:leading-[3rem] font-bold"
        >
          Sincroniza tu dispositivo <span
            class="block font-medium md:font-normal italic"
          >
            y comienza a competir</span
          >
        </h2>
        <div class="mt-[2.8125rem]">
          <a
            href="https://app.swetro.com/account/register"
            class="px-7 py-2.5 text-base font-semibold rounded-md bg-cobalt_blue_600 text-white"
            id="btn-cta-sign-up-home-section-3"
          >
            Ingresa ya</a
          >
        </div>
      </div>
    </section>
    <section
      class="flex flex-col items-center justify-center px-4 py-20 md:px-14 bg-cobalt_blue_100"
    >
      <h3
        class="text-[2rem] md:text-[2.5rem] leading-[3rem] font-normal text-center"
      >
        Únete a <span class="font-bold">Swetro</span>
        <span class="block text-[1.5rem] leading-[3rem] font-normal md:mt-2">
          en 3 sencillos pasos</span
        >
      </h3>
      <div class="flex flex-row flex-wrap items-center justify-center mt-8">
        <article
          class="w-[18.75rem] min-[360px]:w-[21.375rem] md:w-[22.5rem] h-40 m-2 p-7 rounded-xl shadow-md bg-white"
        >
          <div class="flex items-center">
            <Image src={check} alt="Step 1" />
            <h4 class="ml-2.5 text-2xl font-medium">Paso 1</h4>
          </div>
          <p class="mt-2.5 text-sm leading-6 font-normal text-shadow_gray_500">
            Crea tu perfil en Swetro y sincroniza tu dispositivo.
          </p>
        </article>

        <article
          class="w-[18.75rem] min-[360px]:w-[21.375rem] md:w-[22.5rem] h-40 m-2 p-7 rounded-xl shadow-md bg-white"
        >
          <div class="flex items-center">
            <Image src={check} alt="Check" />
            <h4 class="ml-2.5 text-2xl font-medium">Paso 2</h4>
          </div>
          <p class="mt-2.5 text-sm leading-6 font-normal text-shadow_gray_500">
            Únete a un reto, ponte una meta y comienza a entrenar.
          </p>
        </article>

        <article
          class="w-[18.75rem] min-[360px]:w-[21.375rem] md:w-[22.5rem] h-40 m-2 p-7 rounded-xl shadow-md bg-white"
        >
          <div class="flex items-center">
            <Image src={check} alt="Check" />
            <h4 class="ml-2.5 text-2xl font-medium">Paso 3</h4>
          </div>
          <p class="mt-2.5 text-sm leading-6 font-normal text-shadow_gray_500">
            Gana premios y recompensas por completar el reto.
          </p>
        </article>
      </div>
      <div class="mt-[2.8125rem]">
        <a
          href="https://app.swetro.com/account/register"
          class="px-7 py-2.5 text-base font-semibold rounded-md bg-cobalt_blue_600 text-white"
          id="btn-cta-sign-up-home-section-4"
        >
          Crea una cuenta</a
        >
      </div>
    </section>
    <section
      class="flex flex-row items-center justify-center h-[19rem] px-4 md:px-14 bg-cobalt_blue_600 bg-[url(/images/section-5-background-desktop.webp)]"
    >
      <div class="flex flex-row flex-wrap justify-center">
        <Image src={money} alt="Reward" />
        <h4 class="text-[2.5rem] leading-[3rem] font-normal text-white">
          Gana premios
          <span class="block font-bold italic">por entrenar</span>
        </h4>
      </div>
      <div class="hidden min-[858px]:block relative top-[-36px]">
        <Image src={phone} alt="Swetro app" class="w-[22.9375rem]" />
      </div>
    </section>
    <section
      class="flex flex-col items-center justify-center px-4 py-20 md:px-14 bg-cobalt_blue_100"
    >
      <h3
        class="text-[2rem] md:text-[2.5rem] leading-[3rem] font-normal text-center"
      >
        Dispositivos compatibles
      </h3>
      <div class="mt-8">
        <div
          class="flex flex-wrap items-baseline justify-center w-[18.75rem] min-[360px]:w-[21.375rem] md:w-[29rem] m-2 p-0 bg-white rounded-xl shadow-md"
        >
          <div class="w-[10.625rem] h-[1.375] m-8">
            <Image src={garmin} alt="Garmin logo" />
          </div>
          <div class="w-[9.375rem] h-[1.375] m-8">
            <Image src={suunto} alt="Suunto logo" />
          </div>
        </div>
      </div>
      <div class="mt-[2.8125rem]">
        <a
          href="https://app.swetro.com/account/register"
          class="px-7 py-2.5 text-base font-semibold rounded-md bg-cobalt_blue_600 text-white"
          id="btn-cta-sign-up-home-section-6"
        >
          Ingresa ya</a
        >
      </div>
    </section>
    <section
      class="flex flex-col items-center justify-center px-4 py-20 md:px-14 text-white bg-black"
    >
      <h3
        class="text-[2rem] md:text-[2.5rem] leading-[3rem] font-normal text-center"
      >
        Motívate y comienza a cumplir <span class="inline md:block"
          >tus objetivos de <span class="font-bold italic"
            >actividad física</span
          ></span
        >
      </h3>
      <h4 class="mt-7 text-2xl leading-[3rem] font-normal">Únete a un reto:</h4>
      <div class="flex flex-row flex-wrap items-center justify-center my-8">
        {
          spanishChallenges
            .sort(
              (a, b) => a.data.startTime.valueOf() - b.data.startTime.valueOf()
            )
            .map((item) => (
              <ChallengeCard
                title={item.data.title}
                activityType={item.data.activityType}
                startTime={item.data.startTime}
                endTime={item.data.endTime}
                entryFee={item.data.entryFee}
                pot={item.data.pot}
                url={translatePath(`/challenges/${item.slug}`)}
              />
            ))
        }
      </div>

      <h4 class="text-glory_green_400">
        <a
          id="btn-cta-view-more-challenges"
          href={translatePath("/challenges")}
          class="no-underline hover:underline">Más retos y carreras</a
        >
      </h4>
    </section>
    <section
      class="flex flex-col items-center justify-center h-[34.625rem] min-[640px]:h-[27.5625rem] px-4 py-20 md:px-14 text-white bg-black bg-[url(/images/section-8-background.webp)] min-[640px]:bg-[url(/images/section-8-background-desktop.webp)] bg-left bg-cover"
    >
      <h4
        class="text-[2rem] md:text-[2.5rem] leading-[3rem] font-normal text-center"
      >
        Contáctanos
      </h4>
      <div class="mt-8">
        <div
          class="flex items-center justify-center p-7 min-[640px]:p-7.5 text-base text-shadow_gray_800 bg-white rounded-xl shadow-md"
        >
          <Image src={email} alt="Email" class="mr-2" />
          <div>
            ¿Necesitas ayuda? <span
              class="font-semibold block min-[640px]:inline"
              >hello@swetro.com</span
            >
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
