---
import "@fontsource/poppins";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource-variable/open-sans";
import Head from "@components/Head.astro";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);

interface Props {
  pageTitle: string;
  seoTitle: string;
  seoDescription: string;
  image: string;
}

const { pageTitle, seoTitle, seoDescription, image } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <Head
    pageTitle={pageTitle}
    seoTitle={seoTitle}
    seoDescription={seoDescription}
    image={image}
  />
  <body class="bg-black">
    <slot />
  </body>
</html>
